@media screen and (max-width: 1024px) {
    .search {
        flex-direction: column;
    }

    .info-card {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .infobox {
        height: 100vh;
        width: 100%;
        border-radius: 0;
        overflow: auto;
    }

}